Package: syslinux-dbgsym
Source: syslinux
Version: 3:6.03+dfsg-14.1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian QA Group <packages@qa.debian.org>
Installed-Size: 39
Depends: syslinux (= 3:6.03+dfsg-14.1)
Section: debug
Priority: extra
Homepage: http://www.syslinux.org/
Description: Debug symbols for syslinux
Build-Ids: e4a4f52ac791ec1e871fe8d705c94dd8c81cf99e
